*.root
*.pdf
*.d
*.so
*.pcm
*.pyc
*.h5
*.class.C
*.pdf
*.o
commonTools/file*
commonTools/merge*
commonTools/arrange*
commonTools/TruePVWeight.txt
finalMVA/training/201*/final*
finalMVA/histos/job*
finalMVA/training/201*/inputs/final*
fullAna/doReco/job*
fullAna/runNoReco*
plotIt/.travis.yml
plotIt/external/include/
plotIt/external/lib/
plotIt/external/share/
plotIt/external/tclap-1.2.1/
plotIt/external/yaml-cpp-release-0.5.3/
plotIt/plotIt
reco/training/201*/reco*
